
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.caja-grande{
    background-color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 600px;

}
.titulo{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin: 10px;
}
.rightitle{
    font-size: 30px;
    padding-right: 10px;
}
.leftside{
    display: flex;
    flex-direction: row;
}
.leftitle{
    display: flex;
    padding: 10px;
    align-items: center;
}
img{
    display: block;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.iconos{
    display: flex;
    font-size: 30px;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 7px;
    justify-content: space-between;
}

.iconosright{
    align-self: flex-end;
    display: flex;
}
.contenido{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}