
body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
}

.caja-grande{
    background-color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    height: 700px;

}
.titulo{
    font-family: 'No';
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}
.rightitle{
    font-size: 30px;
}
.leftitle{
    display: flex;
}
img{
    display: block;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.iconos{
    display: flex;
    font-size: 30px;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: space-between;
}

.iconosright{
    align-self: flex-end;
    display: flex;
}
.contenido{
    font-family: 'Noto Sans JP', sans-serif;
}